.garden {
  display: flex;
  /* grid-template-columns: 1fr; */
  flex-direction: column;
  justify-content: center;
}

.garden > * {
  padding: 0 1em;
}

.formPrison {
  width: fit-content;
  margin: 1em auto;
}

.formCell {
  width: 100%;
}

.formPrison,
.formCell {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formCell label {
  display: none;
}

.formCell input,
.formCell textarea,
.formPrison button {
  width: 100%;
  padding: 0.5em;
  box-shadow: 3px 3px 3px #000;
  border: 1px solid black;
  background-color: #ddd;
  resize: none;
}

.formCell textarea {
  min-width: 15em;
  min-height: 10em;
}

.formPrison button {
  font-weight: bold;
}

@media only screen and (min-width: 750px) {
  .garden {
    display: grid;
    grid-template-columns: 5fr 1fr;
    position: relative;
  }

  .formPrison {
    height: 100%;
  }
}
