.textPrison {
  padding: 1em;
  word-break: normal;
}

.textPrison a {
  text-decoration: underline white;
  transition: 0.2s;
}

.textPrison a:hover,
.textPrison a:active,
.textPrison a:focus-visible  {
  text-decoration: underline black;
}

.imgLinkPrison a {
  background-color: #fff;
  transition: 0.2s;
}

.imgLinkPrison a:hover,
.imgLinkPrison a:active,
.imgLinkPrison a:focus-visible {
  background-color: #ccc;
}

.titlePrison {
  padding: 0 1em;
  align-items: center;
  width: 100%;
}

.imgPrison,
.imgVilla {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.imgPrison img {
  height: 100%;
  object-fit: cover;
}

.imgPrison div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: 1em;
  margin: auto;
  word-wrap:break-word;
}

.imgPrison p {
  padding: 0.5em;
}

.multiImagePrison {
  padding: 0.5em;
  display: grid;
  gap: 1em;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
}

.embedContainer iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}

.listPrison {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.listCell {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.listCell p:nth-child(2) {
  order: 1;
}
.listCell p:nth-child(1) {
  order: 2;
}

@media only screen and (min-width: 700px) {
  .imgPrison {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .imgPrison div {
    height: 100%;
    word-break: normal;
  }

  .imgPrison img {
    grid-column: span 2;
  }

  .multiImagePrison {
    grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
  }

  .listPrison {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: 0 auto;
    gap: 0.5em;
  }
  
  .listPrison h2 {
    grid-column: span 3;
    text-align: center;
    width: 100%;
  }
  
  .listCell {
    border: none;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
  }
  
  /* .listCell p:nth-child(1) {
    padding-right: 0.5em;
    border-right: 1px solid black;
  } */
}
